<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Repository</title>
</head>

<body>
    <form action="/addRepository" method="POST">
        <label for="owner">Enter name of Owner : </label><br>
        <input type="text" name="owner" placeholder="Owner"> <br><br>
        <label for="title">Enter title of Repository : </label><br>
        <input type="text" name="title" placeholder="Title"> <br><br>
        <input type="submit" value="Add repository">
    </form>
</body>

</html>