<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <center>
        <div id="wb_Text1" style="left:581px;top:25px;width:322px;height:60px;z-index:1;">
            <span style="color:#FFFFFF;font-family:Impact;font-size:48px;"><u>{{general_info['name']}}</u></span>
        </div>
    </center>
    {{general_info['description']}}
    <br>
    open issues: {{general_info['open_issues']}}
    <br>
    url: {{general_info['html_url']}}
    <br>
    created at: {{general_info['created_at']}}
    <br>
    {% for issue in issues %}
    {% for label in issue['labels'] %}
    {% if label['name'] == 'good first issue' %}
    {{issue['number']}} {{issue['title']}}
    <br>
    url: {{issue['html_url']}}
    <br>
    body: {{issue['body']}}
    <br>
    {% endif %}
    {% endfor %}
    {% endfor %}
</body>

</html>